
.BookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
}

.formContainer > input,
.formContainer > textarea {
  margin-top: 1rem;
  width: 90vw;
  max-width: 50rem; 
  height: 3rem;
  border-radius: 10px;
}

.formContainer > textarea {
  height: 10rem;
}

.formContainer > label {
  margin-top: 1rem;
}

#bookDate {
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.formContainer > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  align-self: center;
  margin-top: 1rem;
}

/* Media Query for iPhone-sized screens */
@media only screen and (max-width: 414px) {
  .formContainer > input,
  .formContainer > textarea {
    width: 90vw; 
    max-width: 90vw; 
  }

  #bookDate {
    width: 90vw; 
    max-width: 90vw; 
  }

  .formContainer > button {
    width: 90vw;
    max-width: 90vw; 
  }
}
