body {
  width: 100vw;
  display: block;
}

.BookContainer,.selectdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.formContainer , .hostContainer{
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
  
  
}

.toggle{

  display: flex;
  justify-content: center;
  flex-direction: row;

}
.LogInBtn,.SignUpBtn{
  border-radius: 0;
  border: none;

  
  
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 25px;
  background-image: linear-gradient(to top, #060606 0%,#595656 50%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  font-weight: 450;
  color: #f9f4f4;
  text-transform: capitalize;

}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.formContainer > input,
.formContainer > textarea ,.hostContainer > input,select{
  margin-top: 1rem;
  width: 90vw;
  max-width: 50rem; 
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: large;
}
.hostContainer >p{
  font-size: small;
  
}
.selectdiv{
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-content: center;
 align-items:center 
}
.userHost  > label ,input {
  font-family: "Bebas Neue", sans-serif;
  font-size: xx-large;
 
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000;
  outline: none;
  position: relative;
}
input[type="radio"]::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type="radio"]:checked::after {
  opacity: 1;
}
.invalid,
.valid {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  margin: 1rem 0;
  font-family: "Bebas Neue", sans-serif;
}

form ~ .invalid,
form ~ .valid {
  margin: 0;
  padding: 1rem 2rem 2rem;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.invalid::before,
.valid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.invalid::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='red' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z'/%3E%3C/svg%3E");
}

.valid::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='green' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z'/%3E%3C/svg%3E");
}


.formContainer > textarea {
  height: 10rem;
}

.formContainer > label,.hostContainer >label ,select {
  margin-top: 1rem;
}
.hostContainer > label {
  display: flex;
  margin-top: 1rem;
  margin-left: 5px;
  text-align: left !important; 
}
#bookDate {
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formContainer > button,.hostContainer >button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  align-self: center;
  margin-top: 1rem;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.header-primary {
  width: 100%;
  height: 3.5rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px;
  padding-right: 10px; */

  position: fixed;
  z-index: 100;
}
.app-title {
  font-family: 'Ruslan Display';
  color: white;
  font-size: 32px;
}
.user-icon {
  background-color: white;
  padding: 5px 6px;
  border-radius: 100%;


  margin-right: 20px;
}
.side-menu-button {
  margin-left: 20px;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  width: 100%;
  height: 3rem;

  margin-top: 3.5rem;
  position: fixed;
  z-index: 50;
}
.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.searchbar-placeholder-text {
  font-family: "Roboto";
  font-size: 20px;
  width: 300px;
  border-radius: 20px;
  border-color: .5px solid black;
  text-indent: 10px;
}
.searchbar-result-dropdown {
  margin-top: 10px;
  margin-left: 20px;
}
.searchbar-result-card {

}
.searchbar-result-card-image-container {

}
.searchbar-result-card-image {

}

.header-login {
  position: relative;
  top: 3rem;
  /* margin-bottom: 20px; */

  /* background-color: black;
  height: 90px; */
}
.header-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}
.login-form-format {
  display: flex;
  width: 380px;
}
.login-form-fields {
  
}
.login-input-field {
  font-family: "Roboto";
  font-size: 20px;
  border: 1px solid black;
  width: 280px;
}
.login-button-submit {
  font-family: "Roboto";
  color: white;
  background: linear-gradient(135deg, #1c1c1c, #706d6d);
  width: 150px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0px;

  align-self: center;
}
.login-error {
  margin-top: 10px;
  color: red;
}

.sidenav-links {
  font-family: "Bebas Neue";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  margin-top: 40px;
}
.sidenav-header {
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  justify-content: space-between;

  margin-top: 10px;
}
.sidenav-title {
  font-family: "Ruslan Display";
  color: white;
  font-size: 28px;

  align-self: center;
  margin-top: 5px;
}
.sidenav-header-placeholder {
  margin-left: 20px;
}
.sidenav-closebtn {
  color: white;
  text-decoration: none;
  font-size: 40px;

  align-self: end;
  margin-right: 20px;
}

.venue-detail-page, .spacetype-list-page, .location-list-page, .venue-list-page, .BookContainer {
  position: relative;
  top: 7rem;
  z-index: 0;

  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  width: 100%;
  margin-bottom: 100px;
}
.BookContainer {
  margin-bottom: 200px;
}
.search-list-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.search-list-card {
  margin-top: 5px;
  margin-bottom: 20px;

  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-body-container {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.icon-click-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-click-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
}
.rules-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-header-rentals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom:10px;
}
.header-stars {
  font-size: 20px;
}

.search-list-title {
  font-family: "Bebas Neue";
  font-size: 32px;

  text-indent: 20px;
}

.text-title-24-border {
  padding-top: 5px;
  font-family: "Bebas Neue";
  font-size: 24px;
  height: 36px;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  border-bottom-style: double;
  margin-bottom: 10px;

  text-indent: 5%;
}
.text-title-20-border {
  font-family: "Bebas Neue";
  font-size: 20px;
  padding-top: 5px;
  height: 30px;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  border-bottom-style: double;
  margin-bottom: 10px;

  text-indent: 5%;
}
.text-title-32 {
  font-family: "Bebas Neue";
  font-size: 32px;
}
.text-title-28 {
  font-family: "Bebas Neue";
  font-size: 28px;
}
.text-title-24 {
  font-family: "Bebas Neue";
  font-size: 24px;
}
.text-title-20 {
  font-family: "Bebas Neue";
  font-size: 20px;
}
.text-caps-16 {
  font-family: "Roboto";
  font-size: 16px;
  text-transform: uppercase;
}
.text-caps-14 {
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
}
.text-caps-12 {
  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;
}
.text-standard-16 {
  font-family: "Roboto";
  font-size: 16px;
}
.text-standard-14 {
  font-family: "Roboto";
  font-size: 14px;
}
.text-standard-12 {
  font-family: "Roboto";
  font-size: 12px;
}

.text-body-split {
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  justify-content: space-between;
  width: 400;
}
.split-right, .split-left {
  width: 150px;
}
.split-list-text {
  margin-bottom: 5px;
}
.split-list-icon-set {
  display: flex;
  flex-direction: row;
  min-width: 100px;
}

.text-align-Right {
  text-align: right;
}
.text-align-Left {
  text-align: left;
}
.text-align-Center {
  text-align: center;
}
.text-align-Justify {
  text-align: justify;
}
.margin-left {
  margin-left: 10px;
}
.margin-right {
  margin-right: 10px;
}
.loading {
  font-family: 'Ruslan Display';
  font-size: 12px;
}
.spacer-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.spacer-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer-20 {
  height: 20px;
}
.bold {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.flexgrid-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 200px
}

.detail-header-container {
  margin-left: 10%;
  margin-right: 10%;
  width: 350px;
}
.detail-header-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-interaction-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 60px;
}
.detail-button-back {
  font-family: "Roboto";
  color: white;
  background-color: black;
}
.detail-venue-booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.detail-venue-booking {
  font-family: "Roboto";
  color: white;
  background-color: black;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 10px;

  text-transform: capitalize;
  font-size: 16px;

  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-card-button-explore {
  font-family: "Roboto";
  color: white;
  background-color: black;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0px;

  align-self: center;
}
.list-card-button-explore-venue {
  font-family: "Roboto";
  color: white;
  background-color: black;
}

.list-card-dropdown {
  display: block;
}
.list-card-button-dropdown-open {
  background-color: black;
}
.list-card-button-dropdown-close {
  background-color: black;
}

.detail-body-bubbles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.text-bubble-white, .text-bubble-black {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;

  border-radius: 20px;
  padding: 2px 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.text-bubble-white {
  background-color: white;
  color: black;
  border: 1px solid black;
  
}
.text-bubble-black {
  background-color: black;
  color: white;
}


.list-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
}
.list-card-image {
  min-height: 150px;
  max-width: 350px;
  /* height: 100px; */
}
.list-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin-top: 5px;
}
.list-card-result-info {
  margin-left: 10px;
}
.list-card-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.location-search-results-page {
  position: relative;
  top: 6.5rem;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;
}
.location-search-results-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* Centering not working
  justify-content: flex-start;
  align-items: start; */
}
.search-list-skyline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  /* Issues w centering
  width: 100vw; */
  width: 450px;

  margin-bottom: 5px;
}
.search-list-skyline {
  min-height: 150px;
  max-width: 450px;
  /* height: 100px; */
}
.location-list-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 350px;
  width: 350px;
}
.location-list-card-image {
  /* min-height: 200px; */
  height: 200px;
  width: 350px;
  /* height: 100px; */
}
.location-list-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  /* align-items: end; */
  width: 350px;

  margin-top: 10px;
}
.location-list-info {
  /* margin-left: 10px; */
}
.location-dropdown-split {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;
}
.location-list-info-secondary {
  margin-left: 20px;
}
.location-list-card-dropdown-button-up {
  font-size: 24px;
}
.location-list-card-dropdown-button-down {
  font-size: 24px;
  margin-top: 15px;
}




.footer {
  background-color: #f0efef;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #acabab;

  margin-top: 15px;
  padding: 15px;

  font-family: "Roboto";
  font-size: 12px;
}
.footer-contact {
  display: flex;
  align-items: center;
}
.footer-appname {
  font-family: "Ruslan Display";
  font-size: 24px;
  text-align: right;
  align-self: end;
  margin-top: 5px;
  margin-bottom: 10px;
}
.footer-copyright {
  align-self: end;
}
.footer-social-icons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}
.footer-company, .footer-company-links, .footer-contact, .footer-support, .footer-support-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-link {
  color: #acabab;
  text-decoration: none;
  text-indent: 15px;
}
.footer-support-title, .footer-company-title {
  font-weight: 500;
  margin-bottom: 5px;
}


.account-menu{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 900;
  /* background: linear-gradient(-135deg, #1c1c1c, #353535, #706d6d, #ffffff); */
  background: linear-gradient(-135deg, #040c1d, #102146, #2b457d, #6083cf);

  width: 75%;

  color: white;
}
.account-menu > ul{
  margin-left: -15px;
  /* margin-top: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-menu-title {
  font-family: "Ruslan Display";
  color: white;
  font-size: 28px;

  align-self: center;
  margin-top: 10px;
}
.account-menu-header-placeholder {
  margin-right: 20px;
  color: #040c1d;
}
.account-menu-closebtn {
  color: white;
  text-decoration: none;
  font-size: 40px;

  align-self: end;
  margin-left: 20px;
}
.account-user-image {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.account-user-image-icon {
  font-size: 72px;
  border: 4px solid white;
  border-radius: 100%;
  width: 75px;
  padding: 20px;

  margin: 20px;
}
.account-info-basic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* width: 300px; */
}
.account-info-fullname {
  font-family: "Bebas Neue";
  font-size: 24px;
  width: 190px;
  text-wrap: wrap;
  text-align: center;
}
.account-info-username {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
}
.account-stat-card {
  margin-bottom: 10px;
}
.account-stats {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}
.account-stats-emphasis {
  font-family: "Ruslan Display";
  font-size: 40px;
  text-align: center;
}
.account-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.account-links-divider {
  background-color: white;
  width: 150px;
  height: 1px;

  margin-bottom: 30px;
}
.account-link {
  font-family: "Bebas Neue";
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color:white;

  margin: 15px;
}
.account-menu-header {
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  justify-content: space-between;

  margin-top: 10px;
}


/* Media Query for iPhone-sized screens */
@media only screen and (max-width: 414px) {
  .formContainer > input,
  .formContainer > textarea ,
  .hostContainer > input{
    width: 90vw; 
    max-width: 90vw; 
  }


  #bookDate {
    width: 90vw; 
    max-width: 90vw; 
  }

  .formContainer > button,
  .hostContainer >button {
    width: 90vw;
    max-width: 90vw; 
  }
}