.BookContainer,.selectdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.GalleryContainer{
 width: 100%;
  justify-content: center;
  

}
.galleryimg{
  width: 40vmax;
  height: 25vmax;
  margin: 0%;
}


.formContainer , .hostContainer{
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bold;
  
  
}

.toggle{

  display: flex;
  justify-content: center;
  flex-direction: row;

}
.LogInBtn,.SignUpBtn{
  border-radius: 0;
  border: none;

  
  
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.formContainer > input,
.formContainer > textarea ,.hostContainer > input,select{
  margin-top: 1rem;
  width: 90vw;
  max-width: 50rem; 
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: large;
}
.hostContainer >p{
  font-size: small;
  
}
.selectdiv{
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-content: center;
 align-items:center 
}
.userHost  > label ,input {
  font-family: "Bebas Neue", sans-serif;
  font-size: xx-large;
 
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000;
  outline: none;
  position: relative;
}
input[type="radio"]::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type="radio"]:checked::after {
  opacity: 1;
}
.invalid,
.valid {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  margin: 1rem 0;
  font-family: "Bebas Neue", sans-serif;
}

form ~ .invalid,
form ~ .valid {
  margin: 0;
  padding: 1rem 2rem 2rem;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.invalid::before,
.valid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.invalid::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='red' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z'/%3E%3C/svg%3E");
}

.valid::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='green' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z'/%3E%3C/svg%3E");
}


.formContainer > textarea {
  height: 10rem;
}

.formContainer > label,.hostContainer >label ,select {
  margin-top: 1rem;
}
.hostContainer > label {
  display: flex;
  margin-top: 1rem;
  margin-left: 5px;
  text-align: left !important; 
}
#bookDate {
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.formContainer > button,.hostContainer >button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  align-self: center;
  margin-top: 1rem;
  cursor: pointer;
}

/* Media Query for iPhone-sized screens */
@media only screen and (max-width: 414px) {
  .formContainer > input,
  .formContainer > textarea ,
  .hostContainer > input{
    width: 90vw; 
    max-width: 90vw; 
  }

  #bookDate {
    width: 90vw; 
    max-width: 90vw; 
  }

  .formContainer > button,
  .hostContainer >button {
    width: 90vw;
    max-width: 90vw; 
  }

  .userHost>label{
font-size: medium;

    
  }
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #000;
    outline: none;
    position: relative;
  }
  input[type="radio"]::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  input[type="radio"]:checked::after {
    opacity: 1;
  }
}

