.GalleryContainer{
  margin-top: 20%;
   width: 400px;
   margin-left: 22px;
  
}

.galleryimg  {  
    width: 12rem;
    height: 15vmax;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }
  .galleryimg:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.img-wrapper{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vmax;
   

}

.VenueGalleryContainer{
    width: 400px;
   height: 20vmax;
    margin-top: 5%;
    margin-left: 20px;
   
}
.img-wrapper-Venue{
   width: 400px;
    height: 600px;
    
}
.Venuegalleryimg{
    margin-left: 5%;
    margin-top: 10%;
    width:20vmax;
    height: 15vmax;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
   
}
.Venuegalleryimg:hover{
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    z-index: 1000;
    background: linear-gradient(135deg, #060606, #141414, #3a3a3a, #b8b8b8);

    width: 75%;
    display: flex;
    flex-direction: column;
}

.sidenav > ul{
    margin-left: -15px;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    
}

.Side-link{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    text-decoration: none;
    color:white
}
footer {
    position: fixed;
    bottom: 0;
    
  }
  .link-home-logo{
    text-decoration: none;
  }
 
  
  
.BookContainer{
    margin-top: 6em;
}